window.notification-popups box.notifications {
    padding: .5em;
    border-style: solid;
    border-radius: 25px;
    border-width: 3px;
    border-color: #9070ba;
    background-color: rgba(144, 112, 186, 0.4);
    /* color: #813dd8; */
    margin-top: 6px;
    margin-right: 6px;
    color: @theme_fg_color;
}

.icon {
    min-width: 64px;
    min-height: 64px;
    margin-right: 1em;
}

.icon image {
    font-size: 58px;
    /* to center the icon */
    margin: 5px;
    color: @theme_fg_color;
}

.icon box {
    min-width: 64px;
    min-height: 64px;
    border-radius: 7px;
    color: #b2d1d4;
}

.notification {
    min-width: 350px;
    /* padding: 1em; */
    padding-left: 20px;
    /* border: 1px solid @wm_borders_edge; */
    background-color: rgba(255, 0, 0, 0);
    color: @theme_fg_color;
}

.notification label {
    /* for some wierd reason even though in inspector setting color with just .notification works fine you need to set it manually for all attributes .-.*/
    color: #4484b2;
    color: @theme_fg_color;
}

.notification image {
    color: #4484b2;
    color: @theme_fg_color;
}

.summary {
    color: #b2d1d4;
    color: @theme_fg_color;
}

.title {
    color: #4484b2;
    font-size: 1.4em;
    color: @theme_fg_color;
}

.body {
    color: #4484b2;
    color: @theme_fg_color;
}

.actions .action-button {
    margin: 0 .4em;
    margin-top: .8em;
}

.actions .action-button:first-child {
    margin-left: 0;
}

.actions .action-button:last-child {
    margin-right: 0;
}

window.bar {
    /* background-color: @theme_bg_color; */
    background-color: rgba(255, 0, 0, 0);
    color: @theme_fg_color;
    color: #9070ba;
    border-radius: 0px;
}

/* .workspacess {
    background-color: @theme_bg_color;
    border-radius: 12px;
    border-bottom-right-radius: 12px;
} */


button {
    min-width: 0px;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: transparent;
    border-radius: 0px;
}

button:active {
    /* background-color: @theme_selected_bg_color; */
    background-color: #5fc1e7;
    border-radius: 12px;

}

/* button:hover {
    border-bottom: 3px solid @theme_fg_color;
} */

label {
    font-weight: bold;
}

/* .volume {
    background-color: @theme_bg_color;
} */

.volume label {
    padding-right: 7px;
    /* background-color: @theme_bg_color; */
}

.volumeIcon {
    padding-right: 7px;
    /* background-color: @theme_bg_color; */
}

.battery .workspacess button.focused {
    border-bottom: 3px solid @theme_selected_bg_color;
}

.client-title {
    color: #ff00f2;
    padding-left: 7px;
}

/* .notification {
    color: yellow;
} */

.clock {
    padding-left: 20px;
    /* padding-right: 20px; */
    /* border-bottom-right-radius: 12px; */
    /* handle this in the media label*/
    /* background-color: @theme_bg_color; */
}

.media {
    padding-right: 20px;
    border-bottom-right-radius: 12px;
    /* background-color: @theme_bg_color; */
}

levelbar block,
highlight {
    min-height: 10px;
}

window.background {
    /* border-radius: 30px; */
    border-style: solid;
    border-color: #9070ba;
    border-radius: 25px;
    margin-top: 5px;
    border-width: 3px;
    background-color: rgba(144, 112, 186, 0.4);
    color: #813dd8;
    padding: 3px;
    color: @theme_fg_color;

}

/* testing */
window.entry {
    color: rgb(255, 0, 0);
}

window.box {
    color: rgb(0, 255, 76);
}

/* this works! */
.applauncher entry {
    color: @theme_fg_color;
    background-color: transparent;
    /* background-color: rgba(144, 112, 186, 0.4); */
    /* don't use commented out above line, it stacks transparency because transparancy/opacity already defined in window.background backgroun-color rgba value */
}

.appItem {
    border-radius: 30px;
}

.appItem label {
    color: @theme_fg_color;
}

window {
    border-radius: 30px;
}

.internet label {
    padding-right: 3px;
    padding-left: 5px;
}

.internet {
    /* background-color: @theme_bg_color; */
    padding-left: 20px;
    padding-right: 20px;
}

window.bar {
    /* background-color: @theme_bg_color; */
    /* background-color: rgba(255, 0, 0, 0); */
    border-color: #9070ba;
    /* border-color: #c13caa;
    border-color: #33ccffee;
    border-color: #00ff99ee; */
    border-style: solid;
    border-color: #9070ba;
    border-radius: 25px;
    margin-top: 5px;
    border-width: 3px;
    background-color: rgba(144, 112, 186, 0.4);
    /* color: #7823e8; */
    padding: 3px;
    color: @theme_fg_color;
}

/* window > box {
    margin: 12px;
} */

/* media player */

.player {
    padding: 10px;
    min-width: 350px;
}

.player .img {
    min-width: 100px;
    min-height: 100px;
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    margin-right: 1em;
}

.player .title {
    font-size: 1.2em;
}

.player .artist {
    font-size: 1.1em;
    color: @insensitive_fg_color;
}

.player scale.position {
    padding: 0;
    margin-bottom: .3em;
}

.player scale.position trough {
    min-height: 8px;
}

.player scale.position highlight {
    background-color: @theme_fg_color;
}

.player scale.position slider {
    all: unset;
}

.player button {
    min-height: 1em;
    min-width: 1em;
    padding: .3em;
}

.player button.play-pause {
    margin: 0 .3em;
}

.outer-workspace {
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 20px;
    margin: 2px;
    padding: 2px 0px;
    border-color: transparent;
}

.workspaces button {
    padding: 0px 6px;
}


.workspaces.first {
    border-radius: 20px 0 0 20px;
}

.workspaces.last {
    border-radius: 0 20px 20px 0;
}

.workspaces.normal,
.workspaces button.normal {
    background-color: transparent;

}

.workspaces button.normal:hover {
    border-radius: 20px;
}

.workspaces button.focused {
    color: @base;
    font-weight: bold;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 20px;
}

.workspaces button.focused:hover {
    border-radius: 20px;
}


.workspacess button.occupied:hover {
    border-radius: 20px;

}

.workspacess.occupied-single {
    border-radius: 20px;
}

.workspacess.occupied-start {
    border-radius: 20px 0 0 20px;
}

.workspacess.occupied-middle {
    border-radius: 0px;
}

.workspacess.occupied-end {
    border-radius: 0px 20px 20px 0px;
}

/* workspaces new */


.outer-workspace {
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 20px;
    margin: 2px;
    padding: 2px 0px;
    /* padding-top: 3px;
    padding-bottom: 3px; */
    /* border-style: solid; */
    /* border-color: #8030E8;
    border-width: 3px; */
    /* background-color: #ccccff; */
    border-color: transparent;
}

.workspace {
    /* background-color: rgba(255, 255, 255, 0.15); */
    padding: 0;
    background-color: #ccccff;
}

.workspace button {
    background-color: transparent;
    padding: 0px 6px;

}

.workspace.first {
    border-radius: 20px 0 0 20px;
}

.workspace.last {
    border-radius: 0 20px 20px 0;
}

.workspace.normal,
.workspace button.normal {
    background-color: transparent;

    /* color: @; */
}

.workspace button.normal:hover {
    border-radius: 20px;
    /* background-color: ;
	color: ; */
}

.workspace button.focused {
    background-color: #E9D5F1;
    color: #8030e8;
    font-weight: bold;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 20px 20px 20px 20px;
}

.workspace button.focused:hover {
    border-radius: 20px 20px 20px 20px;
    /* color: ;
	background-color: ; */
}

.workspace button.occupied {
    /* color: ; */
}

.workspaces button.occupied:hover {
    border-radius: 20px;
    /* background-color: ;
	color: ; */
}

.workspace.occupied-single {
    border-radius: 20px;
}

.workspace.occupied-start {
    border-radius: 20px 0 0 20px;
}

.workspace.occupied-middle {
    border-radius: 0px;
}

.workspace.occupied-end {
    border-radius: 0px 20px 20px 0px;
}