/* window.notification-popups box.notifications {
    padding: .5em;
} */

.icon {
    min-width: 64px;
    min-height: 64px;
    margin-right: 1em;
}

.icon image {
    font-size: 58px;
    /* to center the icon */
    margin: 5px;
    color: @theme_fg_color;
}

.icon box {
    min-width: 64px;
    min-height: 64px;
    border-radius: 7px;
    color: #b2d1d4;
}

.notification {
    color: #0000FF;
    min-width: 350px;
    border-radius: 30px;
    /* padding: 1em; */
    margin: .5em;
    border: 1px solid @wm_borders_edge;
    background-color: @theme_bg_color;
}

.summary {
    color: #b2d1d4;
}

.title {
    color: #4484b2;
    font-size: 1.4em;
}

.body {
    color: #4484b2;
}

.actions .action-button {
    margin: 0 .4em;
    margin-top: .8em;
}

.actions .action-button:first-child {
    margin-left: 0;
}

.actions .action-button:last-child {
    margin-right: 0;
}

window.bar {
    background-color: @theme_bg_color;
    color: @theme_fg_color;
    border-radius: 0px;
}

button {
    min-width: 0px;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: transparent;
    border-radius: 0px;
}

button:active {
    /* background-color: @theme_selected_bg_color; */
    background-color: #5fc1e7;
    
}

button:hover {
    border-bottom: 3px solid @theme_fg_color;
}

label {
    font-weight: bold;
}

.volume label {
    padding-right: 5px;
}

.volumeIcon {
    padding-right: 7px;
}

.battery

.workspaces button.focused {
    border-bottom: 3px solid @theme_selected_bg_color;
}

.client-title {
    color: @theme_selected_bg_color;
}

.notification {
    color: yellow;
}

levelbar block,
highlight {
    min-height: 10px;
}

window.background {
    border-radius: 30px;
}

.appItem {
    border-radius: 30px;
}

window {
    border-radius: 30px;
}

.internet label{
    padding-right: 3px;
    padding-left: 5px;
} 

window.bar {
    background-color: @theme_bg_color;
    color: @theme_fg_color;
    border-radius: 0px;
}


